body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* container for forms */
.container {
    margin-top: 100px;
}

/* inputs */
input, textarea, select {
    width: 250px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*buttons */
button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* messages */
.message {
    color: red;
    background: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    width: 260px;
    margin: 10px auto;
}

/* success messages */
.success {
    color: black;
    background: #a4fcad;
    padding: 10px;
    border-radius: 5px;
    width: 260px;
    margin: 10px auto;
}

/* flex buttons */
.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* table */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;  
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}
