<!DOCTYPE html>
<html>

<head>
    <title>Request Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="center">
        <div class="card">

            <h2>Submit Request</h2>

            <form method="POST">
                <label>Request Type:</label><br>
                <select name="type">
                    <option value="maintenance">Maintenance</option>
                    <option value="consultation">Consultation</option>
                </select><br><br>

                <label>Description:</label><br>
                <textarea name="description" placeholder="Describe your issue..." required></textarea><br>

                <label>Phone:</label><br>
                <input type="text" name="phone" placeholder="Enter your phone number..." title="Only numbers allowed"
                    required><br>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="button-row">

                    <button type="submit">Submit</button>

                    <button type="button" onclick="location.href='/my_requests'">
                        My Requests
                    </button>

                </div>
            </form>



            <br>
            <a href="/logout"><button class="logout-btn" style="margin: -8px;">Logout</button></a>
        </div>
    </div>
</body>

</html>